.quiz-games {
  @apply w-11/12 sm:w-96;

  margin: 0 auto;
}

.quiz-container {
  @apply rounded-xl p-4 outline outline-4 outline-offset-0 outline-lime-500;

  outline: 4px solid #24f903;
  outline-offset: 2px;
  background-color: white;
}

.quiz-title {
  @apply text-left mb-3;
}

.quiz-list {
  @apply w-full flex flex-col items-center;
}