.quiz-games {
  @apply w-11/12 sm:w-96;

  margin: 0 auto;
}

.quiz-container {
  @apply rounded-xl p-4 bg-gray-100 flex justify-center items-center flex-col;

  min-height: 200px;
  outline: 4px solid #24f903;
  outline-offset: 2px;
}

.quiz-title {
  @apply text-left mb-3 font-bold leading-5 self-start;
}

.quiz-list {
  @apply w-full flex flex-col items-center;
}

.quiz-footer {
  @apply mt-7;
}