li {
    @apply m-2 px-2 py-2 border border-black rounded-lg cursor-pointer w-full flex items-center gap-1 font-semibold relative;

    transition: all 0.1s;

    &:hover {
        @apply bg-orange-400;

        transform: scale(1.03)
    }

    &.correct {
        @apply bg-green-600 hover:bg-green-700;
    }

    &.incorrect {
        @apply bg-red-600 hover:bg-red-700;
    }

    svg {
        width: 30px;
        height: 30px;
        stroke-width: 1.3;
    }

    .check-icon {
        @apply absolute right-4;
    }
}